[Desktop Entry]
Name=Zed
Comment=A high-performance, multiplayer code editor
GenericName=Text Editor
Keywords=editor;code;development;ide;
Exec=/opt/zed-editor/bin/zed %U
Icon=zed-editor
Type=Application
Terminal=false
Categories=Utility;TextEditor;
StartupWMClass=Zed
StartupNotify=true
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-diff;text/x-patch;application/x-python-code;text/x-ruby;text/x-tcl;text/x-tex;application/x-shellscript;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=/opt/zed-editor/bin/zed --new %U
